.header{
  background-color: blue;
  color: white;
  padding: 10px;

  .title{
    text-align: center;
  }

  .link-list{
    display: flex;
    /* justify-content: space-around; */

    .link{
      padding: 20px;
      text-align: right;
      color: white;
      text-decoration: none;
    }
  }
}